:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --bg-box-dark: #242526;
  --bg-screen-dark: #0F0F0F;
  --bg-input-dark: #3A3B3C;
  --bg-trade: #0693e3;
  --font-color-dark: #f1f1f1;
  --font-color-light: #6E6B7B;
  --font-icon-dark: #B1B4B7;
  --font-color-danger: #EA5455;
  --box-color-danger: #FBDDDD;
  --bg-light-soft:#fff5;
  --bg-light: #F5F5F5;
  --pl--input:#B9B9C3;
  --rq-input:#D22627;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ck-powered-by {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

html[dark-theme='dark'] .custom-toast-container .Toastify__toast{
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.custom-toast-container{
  font-size: 0.9rem;
}
html[dark-theme='dark'],html[dark-theme='dark'] .home-bd {
  background-color: #000000 !important;
  color: #ffffff;
}
@keyframes skeletonLoading {
  0% {
    /* left: 5%; */
    background-color: var(--font-icon-dark);
  }

  100% {
    /* left: 75%; */
    background-color: var(--bg-light);
  }
}
@keyframes skeletonLoadingDark {
  0% {
    /* left: 5%; */
    background-color: var(--font-icon-dark);
  }

  100% {
    /* left: 75%; */
    background-color: #323232;
  }
}
@media (prefers-color-scheme: dark) {
  .header {
    background-color: #000000;
  }
}
