.main-content-data {
    background-color: white;
    margin: 15px;
    /*border-radius: 0 5px;*/
}
.dark .main-content-data{
    background-color: var(--bg-box-dark);
}
.main-content-data .container-content-data{
    padding-bottom: 70px !important;
}
.main-content-data .container-content-data tbody .table-action i:hover{
    cursor: pointer;
}
.main-content-data .container-content-data{
    padding: 0;
}
.main-content-data .container-content-data .table .table-thead{
    background-color: #0693e3;
    color: white;
}
.main-content-data .container-content-data .table tbody tr td:last-child{
    text-align: center;
}
.dark .main-content-data .container-content-data .table tbody{
    color: var(--font-color-dark);
}
.dark .main-content-data .container-content-data .table>:not(caption)>*>*{
    border-bottom-width: 0;
    
}
.dark .table-hover>tbody>tr:hover{
    color:var(--bg-trade);
}
@media only screen and (max-width: 1024px){
    .main-content-data .container-content-data .table{
        font-size: 0.7em;
    }
}
